#filter-input-form {
    display: flex;
    align-items: center;
    gap: 1em;
    margin: 2em;
}

#filter-input-wrapper {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

#filter-error {
    margin-top: -0.5em;
    padding-top: calc(var(--bs-alert-padding-y) + 0.125em);
    z-index: -1;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

#filter-input {
    padding: 1em;
    border-radius: 0.5em;
    flex-grow: 1;

    font-family: monospace;
    white-space: pre-wrap;
    caret-color: #fff;
}

#filter-input .hl-name {
    /*color: #179FFF;*/ /* Blue bracket color */

    color: #4FC1FF; /* JS Constant */
    /*color: #9CDCFE;*/ /* JS Variable */
    /*color: #4EC9B0;*/ /* Type */
}
#filter-input .hl-cmpr {
    color: #D4D4D4; /* Keyword.operator */
}
#filter-input .hl-str {
    /*color: #D7BA7D;*/ /* Escape char */
    color: #CE9178; /* String */
}
#filter-input .hl-num {
    color: #B5CEA8;
}
#filter-input .hl-join {
    color: #569CD6; /* Keyword */
}
#filter-input .hl-comment {
    color: #6A9955;
}
#filter-input .hl-fn {
    color: #DCDCAA;
}
#filter-input .hl-regex {
    color: #D16969;
}
#filter-input .hl-invalid {
    color: #F44747;
}